.wrap[b-hdjs8ti09w] {
    margin-top: 50%;
    transform: translate(0, -50%);
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

.cube[b-hdjs8ti09w] {
    margin: auto;
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
}

    .cube > div[b-hdjs8ti09w] {
        position: absolute;
        box-sizing: border-box;
        padding: 10px;
        height: 100%;
        width: 100%;
        opacity: 0.9;
        background-color: transparent;
        border: solid 3px #3498db;
        color: #3498db;
    }

.front[b-hdjs8ti09w] {
    transform: translateZ(100px);
}

.back[b-hdjs8ti09w] {
    transform: translateZ(-100px) rotateY(180deg);
}

.right[b-hdjs8ti09w] {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
}

.left[b-hdjs8ti09w] {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
}

.top[b-hdjs8ti09w] {
    transform: rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
}

.bottom[b-hdjs8ti09w] {
    transform: rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
}

@keyframes rotate-b-hdjs8ti09w {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube[b-hdjs8ti09w] {
    animation: rotate-b-hdjs8ti09w 20s infinite linear;
}

.wrap:hover .front[b-hdjs8ti09w] {
    transform: translateZ(200px);
    color: #3498db;
}

.wrap:hover .back[b-hdjs8ti09w] {
    transform: translateZ(-200px) rotateY(180deg);
    color: #3498db;
}

.wrap:hover .right[b-hdjs8ti09w] {
    transform: rotateY(-270deg) translateZ(100px) translateX(100px);
    color: #3498db;
}

.wrap:hover .left[b-hdjs8ti09w] {
    transform: rotateY(270deg) translateZ(100px) translateX(-100px);
    color: #3498db;
}

.wrap:hover .top[b-hdjs8ti09w] {
    transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
    color: #3498db;
}

.wrap:hover .bottom[b-hdjs8ti09w] {
    transform: rotateX(270deg) translateZ(100px) translateY(100px);
    color: #3498db;
}

.cube > div[b-hdjs8ti09w] {
    transition: transform 0.2s ease-in;
}