<div class="wrap">
    <div class="cube">
        <div class="front">
            Python
        </div>
        <div class="back">
            Scratch
        </div>
        <div class="top">
            Java
        </div>
        <div class="bottom">
            Кибергигиена
        </div>
        <div class="left">
            Робототехника
        </div>
        <div class="right">
            VR/AR
        </div>
    </div>
</div>

@code {

}

