*[b-orsednizvf] {
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

h1[b-orsednizvf] {
    letter-spacing: -1px;
}

a[b-orsednizvf] {
    color: #3498db;
    text-decoration: unset;
}

.login-root[b-orsednizvf] {
    background: #fff;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.loginbackground[b-orsednizvf] {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.flex-flex[b-orsednizvf] {
    display: flex;
}

.align-center[b-orsednizvf] {
    align-items: center;
}

.center-center[b-orsednizvf] {
    align-items: center;
    justify-content: center;
}

.box-root[b-orsednizvf] {
    box-sizing: border-box;
}

.flex-direction--column[b-orsednizvf] {
    -ms-flex-direction: column;
    flex-direction: column;
}

.loginbackground-gridContainer[b-orsednizvf] {
    margin-top: 15%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
    grid-template-columns: [start] 1fr [left-gutter] repeat(16,86.6px) [left-gutter] 1fr [end];
    -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
    grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
    justify-content: center;
    transform: rotate(-12deg) skew(-12deg);
}

.box-divider--light-all-2[b-orsednizvf] {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}

.box-background--blue[b-orsednizvf] {
    background-color: #3498db;
}

.box-background--white[b-orsednizvf] {
    background-color: #ffffff;
}

.box-background--blue800[b-orsednizvf] {
    background-color: #212d63;
}

.box-background--gray100[b-orsednizvf] {
    background-color: #e3e8ee;
}

.box-background--cyan200[b-orsednizvf] {
    background-color: #7fd3ed;
}

.padding-top--64[b-orsednizvf] {
    padding-top: 64px;
}

.padding-top--24[b-orsednizvf] {
    padding-top: 24px;
}

.padding-top--48[b-orsednizvf] {
    padding-top: 48px;
}

.padding-bottom--24[b-orsednizvf] {
    padding-bottom: 24px;
}

.padding-horizontal--48[b-orsednizvf] {
    padding: 48px;
}

.padding-bottom--15[b-orsednizvf] {
    padding-bottom: 15px;
}


.flex-justifyContent--center[b-orsednizvf] {
    -ms-flex-pack: center;
    justify-content: center;
}

.formbg[b-orsednizvf] {
    margin: 0px auto;
    width: 100%;
    max-width: 1000px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

span[b-orsednizvf] {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #1a1f36;
}

label[b-orsednizvf] {
    margin-bottom: 10px;
}

.reset-pass a[b-orsednizvf], label[b-orsednizvf] {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.reset-pass > a[b-orsednizvf] {
    text-align: right;
    margin-bottom: 10px;
}

.grid--50-50[b-orsednizvf] {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.field input[b-orsednizvf] {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"][b-orsednizvf] {
    background-color: #3498db;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.field-checkbox input[b-orsednizvf] {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    box-shadow: unset;
    min-height: unset;
}

.field-checkbox label[b-orsednizvf] {
    display: flex;
    align-items: center;
    margin: 0;
}

a.ssolink[b-orsednizvf] {
    display: block;
    text-align: center;
    font-weight: 600;
}

.footer-link span[b-orsednizvf] {
    font-size: 14px;
    text-align: center;
}

.listing a[b-orsednizvf] {
    color: #697386;
    font-weight: 600;
    margin: 0 10px;
}

.animationRightLeft[b-orsednizvf] {
    animation: animationRightLeft-b-orsednizvf 2s ease-in-out infinite;
}

.animationLeftRight[b-orsednizvf] {
    animation: animationLeftRight-b-orsednizvf 2s ease-in-out infinite;
}

.tans3s[b-orsednizvf] {
    animation: animationLeftRight-b-orsednizvf 3s ease-in-out infinite;
}

.tans4s[b-orsednizvf] {
    animation: animationLeftRight-b-orsednizvf 4s ease-in-out infinite;
}

@keyframes animationLeftRight-b-orsednizvf {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes animationRightLeft-b-orsednizvf {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0px);
    }
}
